<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gazebo_addins">
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="x_shaft_hub_to_motor">
      <command_interface name="velocity">
        <param name="min">-1000</param>
        <param name="max">1000</param>
      </command_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="y_shaft_hub_to_motor">
      <command_interface name="velocity">
        <param name="min">-1000</param>
        <param name="max">1000</param>
      </command_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="z_shaft_hub_to_motor">
      <command_interface name="velocity">
        <param name="min">-1000</param>
        <param name="max">1000</param>
      </command_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <xacro:include filename="$(find cubli_description)/model/xacro/cubli.xacro"/>
  <transmission name="ec45_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="x_shaft_hub_to_motor">
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="x_motor">
      <hardwareInterface>VelocityJointInterface</hardwareInterface>
    </actuator>
  </transmission>

  <gazebo reference="imu">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu</bodyName>
        <updateRateHZ>100.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find cubli_gazebo)/config/ros2_control.yaml</parameters>
      <!--robotNamespace>/cubli</robotNamespace-->
    </plugin>
  </gazebo>
</robot>
